[project]
name = "autograd"
version = "0.1.0"
description = ""
authors = [{name="Dhiranjit Daimary"}]
dependencies = ["numpy"]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]